<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChainingAssertion" version="1.7.1.0" targetFramework="net46" />
  <package id="Selenium.Support" version="4.2.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="4.2.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="102.0.5005.6102" targetFramework="net46" />
</packages>