<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChainingAssertion" version="1.7.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.Support" version="4.23.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.23.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="126.0.6478.18200" targetFramework="net48" />
</packages>